<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://code.alibabatech.com/schema/dubbo	http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <dubbo:application name="${dubbo.application.name}" logger="slf4j"/>

    <dubbo:registry protocol="zookeeper" address="${dubbo.registry.address}" check="false" subscribe="false" register="true" />
    <dubbo:protocol name="dubbo" port="${dubbo.protocol.port}"/>
    <dubbo:consumer timeout="${dubbo.timeout}" loadbalance="leastactive" check="false" retries="0"/>
    <dubbo:provider delay="-1"/>

    <!--以下是暴露的接口-->
    <dubbo:service interface="com.liudh.shiro.service.UserService" ref="userServiceImpl"/>

</beans>
